.card {
  margin: 16px 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dataItem {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
